
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">CookLikeGuru</a>
  </div>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a link="#" class="nav-link px-2 link-dark" (click)="selectPage('recipe')">Recipes</a></li>
    <li><a link="#" class="nav-link px-2 link-dark" (click)="selectPage('shoping-list')">Shoppind List</a></li>
    <li><a routerLink="test" class="nav-link px-2 link-dark">Test</a></li>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle link-dark nav-link" role="button">Manage</a>
        <ul class="dropdown-menu">
          <li><a href="#">Save Data</a></li>
          <li><a href="#">Fetch Data</a></li>
        </ul>
      </li>
    </ul>
  </ul>


  <div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>

