@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html {
  --cursor-color: #333;
}

html.dark-mode {
  --cursor-color: #fff;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 2em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition:
    stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-black {
  stroke: black;
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

@layer base {
  textarea {
    @apply appearance-none bg-transparent border-0 outline-0 focus:outline-0 focus:border-0;
  }
}

.review-card {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper-slide {
  width: fit-content;
  flex-shrink: 0;
}

.swiper-scrollbar {
  display: none !important;
}

.swiper-pagination-bullet-active {
  background: rgb(254, 120, 0) !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(254, 120, 0) !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
  color: grey !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background-color: rgb(219, 219, 219, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  top: auto !important;
  position: absolute !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
}
