<div class="d-flex justify-content-between m-3">
  <div class="row">
      <h1>{{recipeDetails.name}}</h1>
      <div class="row">
        <p>{{recipeDetails.description}}</p>
      </div>
  </div>

  <div class="row">
      <img src="{{recipeDetails.imgPath}}" alt="" class="img-responsive" style="height: 200px; width: 200px">
  </div>
</div>


<div class="row">
  <div class="coll-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-outline-primary dropdown-toggle">Mange Recipe<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Add Ingredients to Shopping List</a></li>
        <li><a href="#">Edit recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="coll-xs-12">
    Ingredients
  </div>
</div>




